# <h1 align=center> PROYECTO INDIVIDUAL Nº1 </h1>
<hr>
<h2 align=center>Extracción, transformación y carga de los datos (ETL)</h2>

**Importamos librerias.-**

In [2]:
import pandas as pd
import numpy as np
import  sqlalchemy as sql

**1-Extracción de los datos**

Lo primero que hacemos es leer los datos de los archivos .csv y json utilizando dataframe de pandas.

In [30]:
df = pd.read_csv("../dataset/Patentamiento.csv", index_col=0, sep=";")

In [17]:
df.head()

                             ene-23   feb-23   mar-23   Total
Descripción
HONDA                           NaN      NaN      NaN     NaN
        HONDA WAVE 110 S      4.419    3.634    3.870  11.923
        HONDA XR150L          1.284    1.106    1.468   3.858
        HONDA GLH 150         1.082    1.125    1.505   3.712
        HONDA XR250 TORNADO   1.094  761.000  526.000   2.381

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 825 entries, HONDA to TOTAL
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ene-23  488 non-null    float64
 1   feb-23  447 non-null    float64
 2   mar-23  465 non-null    float64
 3   Total   657 non-null    float64
dtypes: float64(4)
memory usage: 32.2+ KB

**2.Transformaciones.-**

Lo que debemos ahcer en este caso es separar la marca del modelo. Además, eliminar las filas que solo sale el nombre de la marca y la del subtotal.

**3.Creación de la base de datos.-**

Por ultimo, enviamos nuestro Dataframe normalizado a nuestra base de datos.

In [26]:
url_engine ="sqlite:///../database/database.db"
engine_etl = sql.create_engine(url=url_engine)

In [31]:
df.to_sql("database", con = engine_etl, if_exists= "replace", index= True)

825